In [203]:
import re
import random
import numpy as np
import pandas as pd

In [204]:
cd = [[5,5], [50,3],[90, 6]]

new = [(num1 + num2 )for (num1,num2) in cd]

new

[10, 53, 96]

In [205]:
bo = [[5,5], [50,3],[90, 6], [50, 4]]
bu = [(num1 + num3) for (num1, num3) in bo]
bu

[10, 53, 96, 54]

In [206]:
urls = [
    "www.google.com/238ijg34wiughr",
    "www.twitter.com/362ttgsf/2f4g/hello",
    "www.reddit.com/banana.pdf",
    "www.myspace.de/image.jpg",
    "https://www.guardian.co.uk/news",
]

In [207]:
domain_pattern = r"\.(\w+)\."
urlss= "www.youtube.com/watch?v=keTJPH-alFQ"
re.findall(domain_pattern, urlss)

['youtube']

In [208]:
urlss= "mail.google.com/mail/u/0/#"
re.findall(domain_pattern, urlss)

['google']

In [209]:
domains = []
for url in urls:
    num_domian = re.findall(domain_pattern, url)
    domains.append(num_domian)
    
    
    
domains

[['google'], ['twitter'], ['reddit'], ['myspace'], ['guardian']]

In [210]:
domains = []
for url in urls:
    domain = re.findall(domain_pattern, url)[0]
    domains.append(domain)
    
domains

['google', 'twitter', 'reddit', 'myspace', 'guardian']

In [211]:
doma = []
for url in urls:
    doma.append(re.findall(domain_pattern, url)[0])
    
    
doma

['google', 'twitter', 'reddit', 'myspace', 'guardian']

In [212]:
domainss = [re.findall(domain_pattern, url) for urd in urls]
domainss

[['guardian'], ['guardian'], ['guardian'], ['guardian'], ['guardian']]

In [213]:
men = [45, 90, 120, 42150, 0, 1254]

In [214]:
guys = []

for man in men:
    num = man * 2
    guys.append(num)
   

guys

[90, 180, 240, 84300, 0, 2508]

In [215]:
[man * 1.5 for man in men]

[67.5, 135.0, 180.0, 63225.0, 0.0, 1881.0]

In [216]:
[int(man * 1.5) for man in men]

[67, 135, 180, 63225, 0, 1881]

In [217]:
range(20)

range(0, 20)

In [218]:
[num *2 + 1 for num in range(20)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [219]:
words = ["ice cream", "banana", "apple", "Bread", "Cake"]

In [220]:
b_words = []

for word in words:
    if word.lower().startswith("b"):
         b_words.append(word)
            
b_words

['banana', 'Bread']

In [221]:
[word for word in words if word.lower().startswith('b')]

['banana', 'Bread']

In [222]:
customers = random.choices(range(40), k=20)
customers

[39, 21, 20, 24, 15, 14, 33, 30, 1, 23, 2, 37, 37, 7, 22, 10, 12, 21, 15, 39]

In [223]:
for num in customers:
    if num <=16 in customers:
        print(f"You need to work harder to spend more: {num}")
        print(num)
    elif num <= 20 in customers:
        print(f"You have just won yourself a cake and a cup of juice: {num}")
        print(num)
    else:
        print(f"You are a great customer and you have just won a car: {num}")
        print(num)

You are a great customer and you have just won a car: 39
39
You are a great customer and you have just won a car: 21
21
You have just won yourself a cake and a cup of juice: 20
20
You are a great customer and you have just won a car: 24
24
You have just won yourself a cake and a cup of juice: 15
15
You have just won yourself a cake and a cup of juice: 14
14
You are a great customer and you have just won a car: 33
33
You are a great customer and you have just won a car: 30
30
You have just won yourself a cake and a cup of juice: 1
1
You are a great customer and you have just won a car: 23
23
You have just won yourself a cake and a cup of juice: 2
2
You are a great customer and you have just won a car: 37
37
You are a great customer and you have just won a car: 37
37
You have just won yourself a cake and a cup of juice: 7
7
You are a great customer and you have just won a car: 22
22
You have just won yourself a cake and a cup of juice: 10
10
You have just won yourself a cake and a cup of juice: 12
12
You are a great customer and you have just won a car: 21
21
You have just won yourself a cake and a cup of juice: 15
15
You are a great customer and you have just won a car: 39
39

In [224]:
customer_gifts = {0: "Spend more money",
    1:"Here are some chocolate",
    2:"Take a cake",
    3:"You won a car"}

In [225]:
# this goes like for num in bars/10 and for the bars in customers. for num in [outcome of the calulation]
for num in [int(bars/10) for bars in customers]:
    print(customer_gifts[num])

You won a car
Take a cake
Take a cake
Take a cake
Here are some chocolate
Here are some chocolate
You won a car
You won a car
Spend more money
Take a cake
Spend more money
You won a car
You won a car
Spend more money
Take a cake
Here are some chocolate
Here are some chocolate
Take a cake
Here are some chocolate
You won a car

In [226]:
customer_gift_lambda_funcs = {
    0: lambda: print("Spend more money"),
    1: lambda: print("Here's some chocolate"),
    2: lambda: print("Take a cake!"),
    3: lambda: print("Have a house")}

In [227]:
#lambda function, you will have to call with parenthesis at the back to getyour result.
for u in[int(um/10)for um in customers]:
    customer_gift_lambda_funcs[u]()

Have a house
Take a cake!
Take a cake!
Take a cake!
Here's some chocolate
Here's some chocolate
Have a house
Have a house
Spend more money
Take a cake!
Spend more money
Have a house
Have a house
Spend more money
Take a cake!
Here's some chocolate
Here's some chocolate
Take a cake!
Here's some chocolate
Have a house

In [228]:
for i in [int(num/10) for num in customers]:
    print(customer_gifts[i])
    print(i)

You won a car
3
Take a cake
2
Take a cake
2
Take a cake
2
Here are some chocolate
1
Here are some chocolate
1
You won a car
3
You won a car
3
Spend more money
0
Take a cake
2
Spend more money
0
You won a car
3
You won a car
3
Spend more money
0
Take a cake
2
Here are some chocolate
1
Here are some chocolate
1
Take a cake
2
Here are some chocolate
1
You won a car
3

In [229]:
#function... anything you call with square as the  parameter will be square by 2

def square(x):
    return x ** 2

square(2)

4

In [230]:
#lambda function 
sq_uare = lambda x: x**2

sq_uare(2)

4

In [231]:
bf = [20, 30, 40, 50, 60, 70, 80, 100]

In [232]:
# adding [] tells python that you are performing calculation on everything inside the list.
dc = [fb *2 for fb in bf]
dc

[40, 60, 80, 100, 120, 140, 160, 200]

In [233]:

buyers_gift = {0: "Nice",
              1: "Good",
              2: "Beautiful",
              3: "Cute",
              4: "Best"}

In [234]:
for num in [int(ut / 100) for ut in dc]:
    print(buyers_gift[num])

Nice
Nice
Nice
Good
Good
Good
Good
Beautiful

In [235]:
{"street": ["HIGH ST", "LOW ST"],
 "city": ["SACRAMENTO", "SACRAMENTO"]}

{'street': ['HIGH ST', 'LOW ST'], 'city': ['SACRAMENTO', 'SACRAMENTO']}

In [236]:
#enumerate will number each element
aj  = [12, 'boy', 78, 'girl',  'man', 'woman']
list(enumerate(aj))

[(0, 12), (1, 'boy'), (2, 78), (3, 'girl'), (4, 'man'), (5, 'woman')]

In [237]:
u = ('hello', 'world')

In [238]:
s = u[0]
t = u[1]
print(s)
print(t)

hello
world

In [239]:
city = 'london'
city

'london'

In [240]:
#this change the first letter from london to capital letter L
city.capitalize()

'London'

In [241]:
#getting the last alphabet 
city.endswith('n')

True

In [242]:
city.endswith('r')

False

In [243]:
!ls

Applications            Music                   homebrew
Desktop                 Pictures                mac-learning-
Documents               Public                  middle_tn_schools.csv
Downloads               README.md               practice notebook.ipynb
Library                 Untitled.ipynb
Movies                  Untitled3.ipynb

In [244]:
!cd Desktop/

In [245]:
!ls

Applications            Music                   homebrew
Desktop                 Pictures                mac-learning-
Documents               Public                  middle_tn_schools.csv
Downloads               README.md               practice notebook.ipynb
Library                 Untitled.ipynb
Movies                  Untitled3.ipynb

###df.columns df.dtypes  df.tail() df.head() 
df.isnull().sum() adding of all null element together in each column

Drop = [‘id’, ‘name’] this are the columns that need to be drop
Df.drop(drop, axis =‘columns’, inplace=True) groping the columns here 

Df.fillna({‘name’ : 0}, inplace=True) this fill all the missing value with 0 in the       name column

df[[‘name’]] 

df[[‘name’, ‘price’]]

df[5:9] giving us index 5 to 8 from the data frame 

df[0:11] [[‘name’, ‘amount’]] this pick row from 0 to 10 from the name and amount columns. 

df[df[‘amount’] < 100] this will give us details that goes with the calculation

df.nlargest(10, ‘reviews’) calling out top 10 reviews from the dataset

df[‘cities’].unique this will bring out all cities from the dateframe without duplicate, so we can know the numbers of cities on the dataframe

df[‘cities’].value_counts() this would count the numbers of each cities 

df[‘cities’].value_counts().head(10) this will print the top 10 cities

df[‘cities’].value_counts().plot(kind=‘bar’)

sns.countplot(data=df, x=‘cities’) this is a season graph that will show city as the x axis and df as y axis

In [246]:
# checking for element in variable 
fam =['father', 'mother', 'sister', 'brother']
print('Is sister in family:', 'sister' in fam)

Is sister in family: True

In [247]:
#replace
fami = "father mother and child"
fami.replace('child', 'children')

'father mother and children'

In [248]:
#upper and lower
choice = "becoming data analyst"
print(choice.upper())

BECOMING DATA ANALYST

In [249]:
choice.lower()

'becoming data analyst'

In [250]:
num = 13 * 2 + 3
num

29

In [251]:
num = num -2
num

27

In [252]:
dft = range(3, 20, 3)
print(len(dft))

6

In [253]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [254]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [255]:
well_height = 125
daily_distance = 30
nightly_distance = 20
snail_position = 0

In [256]:
days = 0

In [257]:
while snail_position <= well_height:
    snail_position += daily_distance
    print('snailis in the well')
    days += 1
    if snail_position <= well_height:
        snail_position -= nightly_distance
    else:
        print('snail is out of the well')

snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snailis in the well
snail is out of the well

In [258]:
stops = [(10, 0), (4, 1), (3, 5), (3, 4), (5, 1), (1, 5), (5, 8), (4, 6), (2, 3)]

In [259]:
passenger_at_stop = [stop[0]  for stop in stops]
passenger_at_stop

[10, 4, 3, 3, 5, 1, 5, 4, 2]

In [260]:
passenger_at_stop = []
total = 0

for stop in stops:
    total += stop[0]
    total -= stop[1]
    passenger_at_stop.append(total)
print('The passengers at each stop are', passenger_at_stop)

The passengers at each stop are [10, 13, 11, 10, 14, 10, 7, 5, 4]

In [261]:
#a = input('enter your first name')


if a== input('enter your first name:'):
    print("my name is:", a)
    a == str()

enter your first name:ayo

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  after removing the cwd from sys.path.

In [262]:
income = True
credit = True
student = True
age = 30

if income and credit and student:
    print("Good to go")
    print(input('how old are you '))
else:
    print("Try again later")
    
while age >= 30:
    print("You are welcome")
    break
else:
    print("Try again later")

Good to go
how old are you 24
24
You are welcome

In [263]:
good_income = True
good_credit = True
expat = True
age = 30


age_check = int(input('how old are you? '))
if good_income and good_credit and expat and (age_check > age):
    print(f"I am {age_check} years old")
    print("You are eligible ")
else:
    print("You are not eligible")
    
#while age >= 30:
#    print("You are welcome")
#    break
#else:
#    print("Try again later")

how old are you? 37
I am 37 years old
You are eligible

In [264]:
good_income = True
good_credit = True
expat = True
age = 30

age_checky = int(input('how old are you? '))
if good_income == True

SyntaxError: invalid syntax (<ipython-input-264-68d7d985ccda>, line 7)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict

In [ ]:
thisdict["model"]

In [ ]:
#changing of value
thisdict["brand"]= "Toyota"
thisdict

In [ ]:
for i in thisdict:
    print(i)

In [ ]:
client_age = 20
if client_age >= 20:
        print('welcome')
else:
    print('bye')

In [ ]:
mba =30

if mba >=25:
        print("yes")
        name = input("what is your name: ")
        print(f"My name is {name}")

In [ ]:
eligible if canada_pr >= 30 else not eligible

In [ ]:
import numpy as np


a = np.random.random((2,4,4))
a

In [ ]:
a[0][3][-1]

In [ ]:
for num in a:
    print(num)

In [ ]:
for num1 in a:
    for num2 in num1:
        print(num2)

In [ ]:
for num1 in a:
    for num2 in num1:
        for num3 in num2:
            print(num3)

In [ ]:

colnames = ['Column1','Column2','Column3','Column4','Column5']
df = pd.DataFrame(np.random.random((10,5)), columns=colnames)
df

In [ ]:
df[['Column1', 'Column3']]

In [ ]:
house_dict = {'Baker House': [7420, 'BrkSide', 1939, 5, 118000],
              'Beazley House': [14115, 'Mitchel', 1993, 5, 143000],
              'Dominguez House': [14260, 'NoRidge', 2000, 8, 250000],
              'Hamilton House': [6120, 'OldTown', 1931, 7, 129900],
              'James House': [11250, 'CollgCr', 2001, 7, 223500],
              'Martinez House': [9600, 'Veenker', 1976, 6, 181500],
              'Roberts House': [9550, 'Crawfor', 1915, 7, 140000],
              'Smith House': [8450, 'CollgCr', 2003, 7, 208500],
              'Snyder House': [10084, 'Somerst', 2004, 8, 307000],
              'Zuckerman House': [10382, 'NWAmes', 1973, 7, 200000]}
DT = pd.DataFrame(house_dict).transpose()
DT

In [ ]:
DT[1]

In [ ]:
sums = [1, 2, -3, 4, -5, 6]

sum_positivities = 0

for num in sums:
    if num < 0:
        continue
    sum_positivities += num
        
       
print(sum_positivities)

In [ ]:
[num + num] for num if num > 0 in sums

In [ ]:
sums = [1, 2, -3, 4, -5, 6]
sum([num for num in sums if num > 0])

In [ ]:
words= ["Apple", "Banana", "Car", "Dolphin" ]
for word in words:
        #This loop is fetching word from the list
        print (f"The following lines will print each letters of: {word}")
        for letter in word:
                #This loop is fetching letter for the word
                print (letter)
        print("") #This print is used to print a blank line

In [ ]:
sums[:-1]

In [265]:
n=int(input("Enter the number of elements to be in the list:"))
b=[]
for i in range(0,n):
    a=int(input("Element: "))
    b.append(a)
sum1=0
sum2=0
sum3=0
for j in b:
    if j>0:
        if j%2 == 0:
            sum1=sum1+j
        else:
            sum2=sum2+j
    else:
        
        sum3=sum3+j
print("Sum of all positive even numbers:",sum1)
print("Sum of all positive odd numbers:",sum2)
print("Sum of all negative numbers:",sum3)

Enter the number of elements to be in the list:6
Element: 3
Element: -1
Element: 9
Element: 6
Element: 7
Element: 4
Sum of all positive even numbers: 10
Sum of all positive odd numbers: 19
Sum of all negative numbers: -1

In [ ]:
data = np.random.random((2,3))
data

In [ ]:
a = data[0]
a

In [ ]:
b = data[1]
b

In [ ]:
print(sum(a, b))

In [ ]:
c = np.random.random((3, 2))
c

In [ ]:
print(sum(c))

In [ ]:
print(sum(a, c))

In [ ]:
d = c.transpose()
d

In [ ]:
# np.outer multiply list t and list b together. like for i in t and for  u in b: i * u and we have the result in array.

t = [3,4]
b = [1,2,3,4]
c = np.outer(t, b)
c 

#d = []
#for i in t:
    #for u in b:
        #c = i * u 
        #d.append(c)
#d

In [ ]:
def multiplyList(myList) : 
      
    # Multiply elements one by one 
    result = 1
    for x in myList: 
         result  = result * x  
    return result  
      
# Driver code 
list1 = [1, 2, 3]  
list2 = [3, 2, 4]
multiplyList(list1)

In [ ]:
last = np.random.random((10, 10))
last

# Lamda functions

In [ ]:
def above

In [1]:
-double= lambda x:2*x
-double(5)
-(lambda x: 2*x) 5

10

In [17]:
def double_function(x):
    return x*2
double_function(10)

20

In [10]:
double_lambda = lambda x: 2*x
double_lambda(5)

10

In [11]:
take_5 = lambda i: i + 5
take_5(5)

10

In [16]:
#you can also call lambda like this also
(lambda x: x+5)(10)

15

In [22]:
# to call one argument inthe function then you will have to add value to the def like (x, y=0) then you can call add_funtion(2)
def add_function(x,y):
    return x+y
add_function(30, 20)

50

In [23]:
add_lambda = lambda x, y: x +y
add_lambda(30,10)

40

In [24]:
(lambda x,y: x+y)(10,20)

30

In [26]:
if_lambda = lambda x, y: x if x > y else y
if_lambda (2 ,4)

4

In [34]:
def even_zero_funtion(x):
    if x%2==0:
        return x
    else:
        return 0
        
even_zero_funtion(2)

2

In [36]:
def even_zero_funtion(x):
    return x if x%2 ==0 else 0
even_zero_funtion(4)

4

In [38]:
even_zero = lambda x: x if x%2 == 0 else 0
even_zero(6)

6

In [39]:
(lambda x: x if x%2 == 0 else 0)(8)

8

In [42]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[i/2 for i in mylist]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [48]:
[(lambda x: x/2)(x) for x in mylist]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [51]:
[(lambda x: x if x%2 == 0 else 0) (x) for x in mylist]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [54]:
misters = ['MisterE', 'MisterB', 'MisterF', 'MisterD']
misters.sort()
misters

['MisterB', 'MisterD', 'MisterE', 'MisterF']

In [55]:
sorted(misters)

['MisterB', 'MisterD', 'MisterE', 'MisterF']

In [56]:
#sortin the last letter with lambda
last_lambda = lambda x: x[-1]
sorted(misters, key=last_lambda)

['MisterB', 'MisterD', 'MisterE', 'MisterF']

In [59]:
#sorting with the second letter from each tuples
list_tuples = [('eggs', 1), ('apples', 2), ('carrots', 1), ('beetroot', 5)]
second_letter = lambda x: x[0][1]
second_letter(('hello', 1))

'e'

In [60]:
sorted(list_tuples, key=second_letter)

[('carrots', 1), ('beetroot', 5), ('eggs', 1), ('apples', 2)]