In [1]:
import pandas as pd

In [18]:
data = pd.read_csv('vehicles_messy.csv')
data.head()

/opt/anaconda3/envs/kittycat/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [11]:
# geting the columns that have null value and by adding #null_cols[null_cols > 1] get the columns with more than 0 
null_cols = data.isnull().sum()
null_cols[null_cols > 1]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [21]:
drop_cols = list(null_cols[null_cols > 10000].index)
data = data.drop(drop_cols, axis=1)
data

KeyError: "['eng_dscr' 'guzzler' 'trans_dscr' 'tCharger' 'sCharger' 'atvType'\n 'fuelType2' 'rangeA' 'evMotor' 'mfrCode' 'c240Dscr' 'c240bDscr'\n 'startStop'] not found in axis"

In [22]:
null_cols = data.isnull().sum()
null_cols[null_cols > 1]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [23]:
# we have to fill displa and cylinders with 0 because we dont really need the column
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

In [25]:
def col_kittycat(cols):
    return cols + 'kittycat'