## Challenge A: Password Validator

#### Description
Your job is to create a simple password validation function, as seen on many websites.

The rules for a valid password are as follows:

There needs to be at least 1 uppercase letter.
There needs to be at least 1 lowercase letter.
There needs to be at least 1 number.
The password needs to be at least 8 characters long.

*You are permitted to use any methods to validate the password.*

In [2]:
import numpy as np
import string 
import random

In [368]:
# your code here
import re 

def validator():
    while True:
        password = input("Enter your password here: ")
        
        if re.search('[A-Za-z]',password) is None: 
            print("Make sure your password has a Capital letter in it")
            
        if re.search('[0-9]',password) is None:
            print("Make sure your password has a number in it")
            
        if len(password) < 8:
                print("Make sure your password is at least 8 letters")
                
        else:
            print("Your password is fine")
        break   
        
        

validator()

Enter your password here: Ayodeji2
Your password is fine

## Challenge B: Credit Card Validator

#### Description

Your task is to write a program which reads credit card number prints the validation result ‘Valid’ or ‘Invalid’.

A valid credit card has following features:

- It should start with 4, 5 or 6
- It should have exactly 16 digits
- It should only consist of digits (0-9)
- It may have digits in groups of 4 and separated by one hyphen "-"
- It should NOT use any other separator like ‘ ’,‘_’, etc.
- It should NOT have 4 or more consecutive repeated digits

Valid Credit Card Numbers:
1. 4263525778615786
2. 5535535535559555
3. 6344-2389-7542-9163

Invalid Credit Card Numbers:
1. 42536258796157867       
2. 66266666626662666       
3. 5122-2368-7954 -3214   
4. 44244x4424442444       
5. 0525362587961578

In [355]:
# your code here 

card_number = input("Enter your 16 digit card number: ")

if len(card_number.replace("-", "")) != 16:
    print('Enter a valid 16 digit number')
elif re.findall('[\D]', card_number):
    print("Your card number has to be in numeric")
elif  not  card_number[0] in ('4', '5', '6'):
    print('Your card number has to start with 4, 5 or 6')
else:
    print("Your card is Valid")

Enter your 16 digit card number: 26262627262726278
Enter a valid 16 digit number

In [354]:
len(card_number.replace("-", ""))

17

In [365]:
# solved the hyphen after checking the class solution
card_number = input("Enter your 16 digit card number: ")

if len(card_number.replace("-", "")) != 16:
    print('Enter a valid 16 digit number')
    
elif not re.findall('[\W]', card_number) in [[],['-','-','-']]:
    print('Enter a valid 16 digit number')
    
#elif not (re.findall('[\D]', card_number) == ['-','-','-']):
#            print("Your card number has to be in numeric")
        
elif  not  card_number[0] in ('4', '5', '6'):
            print('Your card number has to start with 4, 5 or 6')
        
else:
        print("Your card is Valid")

Enter your 16 digit card number: 6344-2389-7542-9163
Your card is Valid

## Challenge C: Multiplication Table

#### Description
    
Your task, is to create a function which returns a **NxN multiplication table**, of size N provided as a function argument.

for example, when given size is 3:

1 2 3

2 4 6

3 6 9

So for the given example, the return value should be: [[1,2,3],[2,4,6],[3,6,9]]

In [326]:
# your code here
import numpy as np

def multi(n):
    return [(lambda x: n * x) (x) for x in aray]
#[(lambda n: n * x) (x) for x in range(n) ]

num = multi(3)
num

[array([3., 3., 3.]), array([3., 3., 3.]), array([3., 3., 3.])]

In [329]:
aray = np.ones((3,3))
aray

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [12]:
#Solution for Challenge C: Multiplication Table

def mult_table(x):
    return np.array([list(i*np.arange(1,x+1)) for i in range(1, x+1)])

mult_table(3)

array([[1, 2, 3],
       [2, 4, 6],
       [3, 6, 9]])

## Challenge D: ID Assignment

#### Description

a) You work in a company with 100 people - to start, please create a list of people ranging from Person 1 to Person 100. For company purposes, each of these people is identified with a Personal ID, which is a combination of 2 uppercase letters and a random number of 5 digits. For each person, generate a random ID, and store it in a dictionary alongside their name (for example ('Person 5': 'AB73648')). Then sort the dictionary according to the values of their Personal IDs.

b) One month later, your company changes the ID format for every employee - from now on, every person will have an ID that consists of only letters. In order to convert them, every number in the employee ID should be replaced by the corresponding uppercase letter in the alphabeth. Please write a function that accomplishes this change and apply it to the dictionary.

In [333]:
# your code here
#for i in range(1, 101):
    #print('person' + str(i))
df = string.ascii_uppercase[0:5]
print(df)


rand = random.randrange(10000,100000)
print(rand)

list = ['person ' + str(i) + " : " + str(df) + str(rand) for i in range(1, 101)]
print(list)

ABCDE
26002
['person 1 : ABCDE26002', 'person 2 : ABCDE26002', 'person 3 : ABCDE26002', 'person 4 : ABCDE26002', 'person 5 : ABCDE26002', 'person 6 : ABCDE26002', 'person 7 : ABCDE26002', 'person 8 : ABCDE26002', 'person 9 : ABCDE26002', 'person 10 : ABCDE26002', 'person 11 : ABCDE26002', 'person 12 : ABCDE26002', 'person 13 : ABCDE26002', 'person 14 : ABCDE26002', 'person 15 : ABCDE26002', 'person 16 : ABCDE26002', 'person 17 : ABCDE26002', 'person 18 : ABCDE26002', 'person 19 : ABCDE26002', 'person 20 : ABCDE26002', 'person 21 : ABCDE26002', 'person 22 : ABCDE26002', 'person 23 : ABCDE26002', 'person 24 : ABCDE26002', 'person 25 : ABCDE26002', 'person 26 : ABCDE26002', 'person 27 : ABCDE26002', 'person 28 : ABCDE26002', 'person 29 : ABCDE26002', 'person 30 : ABCDE26002', 'person 31 : ABCDE26002', 'person 32 : ABCDE26002', 'person 33 : ABCDE26002', 'person 34 : ABCDE26002', 'person 35 : ABCDE26002', 'person 36 : ABCDE26002', 'person 37 : ABCDE26002', 'person 38 : ABCDE26002', 'person 39 : ABCDE26002', 'person 40 : ABCDE26002', 'person 41 : ABCDE26002', 'person 42 : ABCDE26002', 'person 43 : ABCDE26002', 'person 44 : ABCDE26002', 'person 45 : ABCDE26002', 'person 46 : ABCDE26002', 'person 47 : ABCDE26002', 'person 48 : ABCDE26002', 'person 49 : ABCDE26002', 'person 50 : ABCDE26002', 'person 51 : ABCDE26002', 'person 52 : ABCDE26002', 'person 53 : ABCDE26002', 'person 54 : ABCDE26002', 'person 55 : ABCDE26002', 'person 56 : ABCDE26002', 'person 57 : ABCDE26002', 'person 58 : ABCDE26002', 'person 59 : ABCDE26002', 'person 60 : ABCDE26002', 'person 61 : ABCDE26002', 'person 62 : ABCDE26002', 'person 63 : ABCDE26002', 'person 64 : ABCDE26002', 'person 65 : ABCDE26002', 'person 66 : ABCDE26002', 'person 67 : ABCDE26002', 'person 68 : ABCDE26002', 'person 69 : ABCDE26002', 'person 70 : ABCDE26002', 'person 71 : ABCDE26002', 'person 72 : ABCDE26002', 'person 73 : ABCDE26002', 'person 74 : ABCDE26002', 'person 75 : ABCDE26002', 'person 76 : ABCDE26002', 'person 77 : ABCDE26002', 'person 78 : ABCDE26002', 'person 79 : ABCDE26002', 'person 80 : ABCDE26002', 'person 81 : ABCDE26002', 'person 82 : ABCDE26002', 'person 83 : ABCDE26002', 'person 84 : ABCDE26002', 'person 85 : ABCDE26002', 'person 86 : ABCDE26002', 'person 87 : ABCDE26002', 'person 88 : ABCDE26002', 'person 89 : ABCDE26002', 'person 90 : ABCDE26002', 'person 91 : ABCDE26002', 'person 92 : ABCDE26002', 'person 93 : ABCDE26002', 'person 94 : ABCDE26002', 'person 95 : ABCDE26002', 'person 96 : ABCDE26002', 'person 97 : ABCDE26002', 'person 98 : ABCDE26002', 'person 99 : ABCDE26002', 'person 100 : ABCDE26002']

In [11]:
#class solution for Challenge D: ID Assignment

poeple = [(lambda x: 'person '+ str(x))(x) for x in range(1, 101)]
#print(poeple)
ids = set([string.ascii_uppercase[np.random.randint(25)] + string.ascii_uppercase[np.random.randint(25)] + str(np.random.randint(10000, 100000)) for x in range(1, 101)]) 

people_ids =dict(zip(poeple, ids))

print(people_ids)

def convert_ids(x):
    newid = x[0:2]
    for i in range(2, 7):
        newid = newid + string.ascii_uppercase[int(x[i])-1]
    return newid


for (k, v) in people_ids.items():
    people_ids[k] = convert_ids(v)

print(people_ids)

{'person 1': 'JD60471', 'person 2': 'NF28195', 'person 3': 'QJ36769', 'person 4': 'UT20796', 'person 5': 'HH34151', 'person 6': 'EW19109', 'person 7': 'CU97466', 'person 8': 'HD39173', 'person 9': 'JC85918', 'person 10': 'LJ80540', 'person 11': 'YF80277', 'person 12': 'ER80096', 'person 13': 'ET50323', 'person 14': 'TJ94176', 'person 15': 'BD42239', 'person 16': 'WG13001', 'person 17': 'BQ16259', 'person 18': 'LQ56374', 'person 19': 'EI50054', 'person 20': 'CP31371', 'person 21': 'KR24903', 'person 22': 'VE68229', 'person 23': 'IU65491', 'person 24': 'CD96567', 'person 25': 'JA26195', 'person 26': 'QP71628', 'person 27': 'OX50218', 'person 28': 'IP46543', 'person 29': 'CA97490', 'person 30': 'QA14722', 'person 31': 'UN41259', 'person 32': 'RX73853', 'person 33': 'QS60108', 'person 34': 'RO55763', 'person 35': 'BF46469', 'person 36': 'IE39684', 'person 37': 'LB92592', 'person 38': 'AF20430', 'person 39': 'NV12792', 'person 40': 'XC15197', 'person 41': 'NO41911', 'person 42': 'VD93712', 'person 43': 'CJ71606', 'person 44': 'CY63459', 'person 45': 'WN82645', 'person 46': 'UG83370', 'person 47': 'DH71849', 'person 48': 'US31488', 'person 49': 'XE14548', 'person 50': 'XK70268', 'person 51': 'YS48696', 'person 52': 'YW70305', 'person 53': 'VA86680', 'person 54': 'PN42321', 'person 55': 'SK60333', 'person 56': 'UB21882', 'person 57': 'JF71773', 'person 58': 'KY46180', 'person 59': 'MX66320', 'person 60': 'IF88588', 'person 61': 'LP80515', 'person 62': 'NO92227', 'person 63': 'GH75473', 'person 64': 'LV44056', 'person 65': 'RT44641', 'person 66': 'EA19956', 'person 67': 'LC40513', 'person 68': 'CB20140', 'person 69': 'KV72136', 'person 70': 'MJ59027', 'person 71': 'QS15463', 'person 72': 'UJ60337', 'person 73': 'FP22889', 'person 74': 'WL22815', 'person 75': 'HX74251', 'person 76': 'WI87545', 'person 77': 'TQ26848', 'person 78': 'RN86076', 'person 79': 'NO59497', 'person 80': 'PE98830', 'person 81': 'SS21370', 'person 82': 'LT28098', 'person 83': 'EY15136', 'person 84': 'OB89151', 'person 85': 'YV99535', 'person 86': 'GE49031', 'person 87': 'HP72334', 'person 88': 'TB91323', 'person 89': 'CJ35954', 'person 90': 'CT89553', 'person 91': 'GR16217', 'person 92': 'PM48926', 'person 93': 'OU72144', 'person 94': 'NW50814', 'person 95': 'EE98370', 'person 96': 'DT82278', 'person 97': 'UI29407', 'person 98': 'CW41886', 'person 99': 'EW41459', 'person 100': 'MT46894'}
{'person 1': 'JDFZDGA', 'person 2': 'NFBHAIE', 'person 3': 'QJCFGFI', 'person 4': 'UTBZGIF', 'person 5': 'HHCDAEA', 'person 6': 'EWAIAZI', 'person 7': 'CUIGDFF', 'person 8': 'HDCIAGC', 'person 9': 'JCHEIAH', 'person 10': 'LJHZEDZ', 'person 11': 'YFHZBGG', 'person 12': 'ERHZZIF', 'person 13': 'ETEZCBC', 'person 14': 'TJIDAGF', 'person 15': 'BDDBBCI', 'person 16': 'WGACZZA', 'person 17': 'BQAFBEI', 'person 18': 'LQEFCGD', 'person 19': 'EIEZZED', 'person 20': 'CPCACGA', 'person 21': 'KRBDIZC', 'person 22': 'VEFHBBI', 'person 23': 'IUFEDIA', 'person 24': 'CDIFEFG', 'person 25': 'JABFAIE', 'person 26': 'QPGAFBH', 'person 27': 'OXEZBAH', 'person 28': 'IPDFEDC', 'person 29': 'CAIGDIZ', 'person 30': 'QAADGBB', 'person 31': 'UNDABEI', 'person 32': 'RXGCHEC', 'person 33': 'QSFZAZH', 'person 34': 'ROEEGFC', 'person 35': 'BFDFDFI', 'person 36': 'IECIFHD', 'person 37': 'LBIBEIB', 'person 38': 'AFBZDCZ', 'person 39': 'NVABGIB', 'person 40': 'XCAEAIG', 'person 41': 'NODAIAA', 'person 42': 'VDICGAB', 'person 43': 'CJGAFZF', 'person 44': 'CYFCDEI', 'person 45': 'WNHBFDE', 'person 46': 'UGHCCGZ', 'person 47': 'DHGAHDI', 'person 48': 'USCADHH', 'person 49': 'XEADEDH', 'person 50': 'XKGZBFH', 'person 51': 'YSDHFIF', 'person 52': 'YWGZCZE', 'person 53': 'VAHFFHZ', 'person 54': 'PNDBCBA', 'person 55': 'SKFZCCC', 'person 56': 'UBBAHHB', 'person 57': 'JFGAGGC', 'person 58': 'KYDFAHZ', 'person 59': 'MXFFCBZ', 'person 60': 'IFHHEHH', 'person 61': 'LPHZEAE', 'person 62': 'NOIBBBG', 'person 63': 'GHGEDGC', 'person 64': 'LVDDZEF', 'person 65': 'RTDDFDA', 'person 66': 'EAAIIEF', 'person 67': 'LCDZEAC', 'person 68': 'CBBZADZ', 'person 69': 'KVGBACF', 'person 70': 'MJEIZBG', 'person 71': 'QSAEDFC', 'person 72': 'UJFZCCG', 'person 73': 'FPBBHHI', 'person 74': 'WLBBHAE', 'person 75': 'HXGDBEA', 'person 76': 'WIHGEDE', 'person 77': 'TQBFHDH', 'person 78': 'RNHFZGF', 'person 79': 'NOEIDIG', 'person 80': 'PEIHHCZ', 'person 81': 'SSBACGZ', 'person 82': 'LTBHZIH', 'person 83': 'EYAEACF', 'person 84': 'OBHIAEA', 'person 85': 'YVIIECE', 'person 86': 'GEDIZCA', 'person 87': 'HPGBCCD', 'person 88': 'TBIACBC', 'person 89': 'CJCEIED', 'person 90': 'CTHIEEC', 'person 91': 'GRAFBAG', 'person 92': 'PMDHIBF', 'person 93': 'OUGBADD', 'person 94': 'NWEZHAD', 'person 95': 'EEIHCGZ', 'person 96': 'DTHBBGH', 'person 97': 'UIBIDZG', 'person 98': 'CWDAHHF', 'person 99': 'EWDADEI', 'person 100': 'MTDFHID'}